<!DOCTYPE html>
<html>
    <head>
        <title>Results</title>
        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}
    </head>
    <body>
        {% if rows %}
            {% if amount_of_rows > 100 %}
                <h3>Amount of rows is {{ amount_of_rows }} but here you can see only first 100 rows</h3>
            {% endif %}
            {% for row in rows %}
                <p><b>{{ row.created }}</b> {{ row.string }}</p>
            {% endfor %}
        {% else %}
            <h3>Nothing found</h3>
        {% endif %}
    </body>
</html>